<div class="list">
	<% if @posts.many? %>
	  <h2>Latest Post</h2>
	  <ul id="blog_posts">
	    <% @posts.each do |blog_post| %>
	      <li class='clearfix'>
	        <%= link_to blog_post.title, refinery.blog_post_path(blog_post) %>
	        <br />
	 				<span><%= blog_post.published_at.to_date %></span>
	      </li>
	    <% end %>
	  </ul>
	<% end %>
</div>