p{line-height:20px;}
body{font-family:Helvetica, Arial, sans-serif; font-size:13px; color:#525252; background:#f4fcf4;}

.content{float:left; width:960px; margin:20px 0;}
.frame{width:960px; margin:auto;}

.content .tabstuff{float:left; margin-top:20px; position:relative;}
.content .tabstuff ul.find_tab{list-style:none; float:left; padding-left:20px; position:absolute; top:0px; left:17px;}
.content .tabstuff ul.find_tab li{float:left; padding:0 3px;}
.content .tabstuff ul.find_tab li a{display:block; padding:0 10px; border:1px solid #cacaca; font-weight:bold; text-decoration:none; background:#e6e6e6; height:30px; line-height:30px; color:#828282; border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0;}
.content .tabstuff ul.find_tab li a:hover{background:#f4fcf4; color:#525252; border-bottom:1px solid #f4fcf4;}
.content .tabstuff ul.find_tab li.select a{background:#f4fcf4; color:#525252; border-bottom:1px solid #f4fcf4;}

.content .tabstuff a.clsac{color:#2e9a2e; font-weight:bold; position:absolute; top:10px; right:10px; font-size:12px;}


.content .tabstuff .common{width:960px; float:left; border-top:1px solid #cacaca; margin-top:31px; padding-top:20px;}
.content .leftpanel{float:left; width:700px;}
.content .tabstuff .common h3{padding-bottom:8px; font-size:15px;}
.content .tabstuff .common p{line-height:20px;}